# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python distribution files
build/
dist/
*.egg-info/

# Logs
*.log